body {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,rgb(40, 168, 243)0, #dcdce7);

}



header {
    height: 10%;
    background-color: #001b389d;
    color: #ffffff;
    padding: 20px 40px; /* Aumenté el espaciado interno para mejorar la legibilidad */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Para que el encabezado se mantenga fijo en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
}
#cef-icon{
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
    font-weight: inherit; /* Hereda el peso de la fuente del elemento padre */
    font-size: inherit; 
    max-width: 150px;
}
#cef-icon h1:hover{
    color: #333333;
}


.header-left {
    width: 50%;
    flex: 1;
    text-align: left;
}

.header-right {
    width: 50%;

    text-align: right;
    padding-right: 5%;
}
 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {

}


section {
    background-color: #f0f0f0;
    padding: 5%;
    border-radius:10px ;
}
#banner{

    width: 90%;
}
#banner img{
    width: 100%;
}
#inicio{
    padding: 10px;
    background-color:#f0f0f0; ;
    height: 100%;
    overflow: auto;
}
footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
#piePagina li{
    display: inline;
}
nav a.hover{
    background-color: #007bff;
}
nav a.active {
    font-weight: bold;
    color: #dedede;
    text-decoration: overline;
    border-radius: 10px ;
    padding: 5px;
    box-shadow: 0 5px 10prgb(0, 0, 0, 0.1); 
}
#actividades , #inicio, #inscripcion,#contacto,#banner{
    margin: 100px;
    scroll-margin-top: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 

}
.elementos{
    border: #007bff;
    border-style:solid ;
    margin: 20px;
    padding: 20px;
    width: 350px;
    height: 200px;
    float: left;
}
.actividades{
    width :90%;
    height: 50%;
    overflow:auto;
}
.activity{
   float: left;
   width: 300px;
   padding: 5px;
   height: 250px;
   margin: 3px;
   background-color: #007bff;
   box-shadow: 5px 5px 10px grey;
   border-radius: 10px;
}
/* Estilos para el botón de menú */
.menu-btn {
    display: none; /* Oculta el botón de menú por defecto */
}
#actividadescontent:hover + #listaactividades {
    visibility: visible;


}

/* Oculta la lista de actividades por defecto */
#listaactividades {
    visibility: hidden;
    transition-duration: 2s;
}
.menu-btn {
    display: none; /* Oculta el botón de menú por defecto */
}
#menu-toggle{
    display: none;
}

.actividadescontent{
    color: wheat;
    border-radius: 10px;
    background-color: #333333;
    padding: 5px;
    text-decoration: none;
    transition: duration 2s; ;
}
.actividadescontent a :hover {
    border: black;
    border-width: 3px;
    
}

/* Estilos generales para dispositivos de pantalla grande */

@media screen and (max-width: 768px) {
    main {
        margin-top: calc(25% + 30px); /* Calcula el margen superior con respecto a la altura del header */
    }
    .actividades{
        border: #007bff;
        border-style:solid ;
        margin: 10px;
        padding: 10px;
        width: 90%;
        height: 80%;
        float: left;
        border-radius: 10px;

    }
    .elementos{
        border: #007bff;
        border-style:solid ;
        margin: 5px;
        padding: 5px;
        width: 90%;
        height: 80%;
        float: left;
        border-radius: 10px;
    }
    #actividades , #inicio, #inscripcion,#contacto,#banner{
        margin: 20px;
        scroll-margin-top: 80px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
        border-radius: 10px;

    }
    
    /* Estilos específicos para dispositivos móviles */
    /* Por ejemplo, aquí puedes colocar los estilos para el botón de menú, el menú desplegable, etc. */
    
    #menu-toggle {
        display: none; /* Oculta el checkbox en dispositivos móviles */
    }

    .menu-btn {
        display: inline-block; /* Asegura que la etiqueta se muestre como un bloque */
        cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón de menú */
    }

    #menunav {
        
        display: none; /* Oculta el menú por defecto en dispositivos móviles */
    }

    #menu-toggle:checked + #menunav {
        background-color: aliceblue;

        display: block; /* Muestra el menú cuando el checkbox está seleccionado */
    }

    /* Otros estilos específicos para dispositivos móviles */
}
